{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}



{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
  .prdctUnset > img{
    position:unset !important; 
    border-radius:22px;
    height:100%;
  }
  .prdctUnset{
    background-color:unset !important;
    border-radius: 22px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gm_banner_aplus img{
    width:100%;
    height:100%;
  }
  .gm_banner_aplus .gm_mobile{
    display:none;
  }

  .gm_banner_aplus,.gm_banner_aplus > div {
    display: flex;
    flex-direction: column;
}
  .gm_banner_aplus img{
    border-radius:unset;
  }
  .gm_banner_aplus > div{
    border-radius:15px;
    overflow:hidden;
  }
  .gm_banner_aplus.prdctUnset{
    transform:unset !important;
  }
  @media screen and (max-width:768px){
    .gm_banner_aplus .gm_desktop{
      display:none;
    }
    .gm_banner_aplus .gm_mobile{
      display:flex;
    }
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  
  assign half_width = '50vw'
  assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}
{% if section.settings.meta_field %}
  <div class="{% if section.settings.pgWdth %}prdctUnset page-width{% endif %} section-{{ section.id }}-padding gm_banner_aplus {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="gm_desktop">
      {% for desktop_image in product.metafields.custom.product_details_controller.value.a_listing.value.for_desktop_version.value %}
        {%- liquid
            assign image_height = desktop_image.width | divided_by: desktop_image.aspect_ratio
            if section.settings.stack_images_on_mobile
            assign sizes = stacked_sizes
            else
            assign sizes = full_width
            endif
        -%}
        {{
            desktop_image
            | image_url: width: 3840
            | image_tag:
            width: desktop_image.width,
            height: image_height,
            class: 'gm_desktop',
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority
        }}
    {% endfor %}
    </div>
    <div class="gm_mobile">
      {% for mobile_image in product.metafields.custom.product_details_controller.value.a_listing.value.for_mobile_version.value %}
        {%- liquid
            assign image_height = mobile_image.width | divided_by: mobile_image.aspect_ratio
            if section.settings.stack_images_on_mobile
            assign sizes = stacked_sizes
            else
            assign sizes = full_width
            endif
        -%}
        {{
            mobile_image
            | image_url: width: 3840
            | image_tag:
            width: mobile_image.width,
            height: image_height,
            class: 'gm_mobile',
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority
        }}
      {% endfor %}
    </div>
  </div>
{% else %}
  {% for block in section.blocks %}
      {%- if block.settings.desktop_image != blank -%}
          <div id="Banner-{{ block.id }}" class="section-{{ section.id }}-padding gm_banner_aplus {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" >
              {% if block.settings.mobile_image != blank %}
                <div class="{% if section.settings.pgWdth %}prdctUnset page-width{% endif %} {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                  {%- liquid
                      assign image_height = block.settings.desktop_image.width | divided_by: block.settings.desktop_image.aspect_ratio
                      if section.settings.stack_images_on_mobile
                      assign sizes = stacked_sizes
                      else
                      assign sizes = full_width
                      endif
                  -%}
                  {{
                      block.settings.desktop_image
                      | image_url: width: 3840
                      | image_tag:
                      width: block.settings.desktop_image.width,
                      height: image_height,
                      class: 'gm_desktop',
                      sizes: sizes,
                      widths: widths,
                      fetchpriority: fetch_priority
                  }}
                  {%- liquid
                      assign image_height = block.settings.mobile_image.width | divided_by: block.settings.mobile_image.aspect_ratio
                      if section.settings.stack_images_on_mobile
                      assign sizes = stacked_sizes
                      else
                      assign sizes = full_width
                      endif
                  -%}
                  {{
                      block.settings.mobile_image
                      | image_url: width: 3840
                      | image_tag:
                      width: block.settings.mobile_image.width,
                      height: image_height,
                      class: 'gm_mobile',
                      sizes: sizes,
                      widths: widths,
                      fetchpriority: fetch_priority
                  }}
                </div>
              {% else %}
              <div class="{% if section.settings.pgWdth %}prdctUnset page-width{% endif %} {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                {%- liquid
                    assign image_height = block.settings.desktop_image.width | divided_by: block.settings.desktop_image.aspect_ratio
                    if section.settings.stack_images_on_mobile
                    assign sizes = stacked_sizes
                    else
                    assign sizes = full_width
                    endif
                -%}
                {{
                    block.settings.desktop_image
                    | image_url: width: 3840
                    | image_tag:
                    width: block.settings.desktop_image.width,
                    height: image_height,
                    class: image_class,
                    sizes: sizes,
                    widths: widths,
                    fetchpriority: fetch_priority
                }}
              </div>
              {% endif %}
          </div>
      {%- endif -%}
  {% endfor %}
    
{% endif %}
{%- style -%}
  /* .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  } */

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

    @media (max-width: 767px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.mobile_padding_top }}px;
        padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
        margin-top: {{ section.settings.mobile_margin_top }}px;
      margin-bottom: {{ section.settings.mobile_margin_bottom }}px;
    }
    }
{%- endstyle -%}

{% schema %}
{
  "name": "GM Image Gallery",
  "tag": "section",
  "class": "section",
   "disabled_on": {
  "groups": ["header", "footer", "custom.popup"]
   },
  "settings": [
    {
      "type": "checkbox",
      "id": "pgWdth",
      "label": "Check to Show Banner in Container",
      "default":false
    },
    {
      "type": "checkbox",
      "id": "meta_field",
      "label": "Check to Fetch Data From Metafield",
      "default":false
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Desktop Margin Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Desktop Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_margin_top",
      "label": "Mobile Margin Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "label": "Mobile Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "GM Image Gallery"
    }
  ]
}
{% endschema %}
