<div class="instagram-main color-{{ section.settings.color_scheme }} gradient ">


<div class="page-width gmSld-{{section.id}}">
<div class="vdoSldCntWrap">
    {% if section.settings.preTtl != blank %}
        <span class="vdo-subtitel">{{section.settings.preTtl}}</span>
    {% endif %}
    {% if section.settings.ttl != blank %}
        <h2 class="h1 video-heading">{{section.settings.ttl}}</h2>
    {% endif %}
  {% if section.settings.subTtl != blank %}
    <p class="body">{{section.settings.subTtl}}</p>
  {% endif %}
  {% if section.settings.btnUrl != blank %}
        <a href="{{section.settings.btnUrl}}" role="link" class="button button--primary">{{section.settings.btnTxt}}</a>
    {% endif %}
</div>

<div class="swiper swp-{{section.id}}">
  <div class="swiper-wrapper">
    {% if section.settings.chkBx %}
        {% for item in product.metafields.custom.product_details_controller.value.gm_ingredients.value %}
          <div class="swiper-slide vdoSldWrap" style="background-color: {{section.settings.sldCol}}; border-radius:14px;">
            <div class="sldWrap">
                {% if item.ingredients_icon.value != blank %}
                    <img src="{{item.ingredients_icon.value |  image_url: width: 200}}" alt="{{item.ingredients_icon.value.alt}}" style="max-width: 100px;" width="" height="">
                {% endif %}
                {% if item.ingredients_name.value != blank %}
                    <p>{{item.ingredients_name.value}}</p>
                {% endif %}
                {% if item.gm_ingredients_description.value != blank %}
                    <span>{{item.gm_ingredients_description.value}}</span>
                {% endif %}
            </div>
          </div>
        {% endfor %}     
        {% else %}
        
        {% for block in section.blocks %}
          <div class="swiper-slide" style="background-color: {{section.settings.sldCol}}; border-radius:14px;">
          <div class="sldWrap">
              {% if block.settings.img_url !=blank %}
                <a href="{{block.settings.img_url}}" class="insta-box">
                  {% if block.settings.imgPkr != blank %}
                    <img src="{{block.settings.imgPkr |  image_url: width: 200}}" alt="{{block.settings.imgPkr.alt}}" width="" height="">
                  {% endif %}
                  {% if section.settings.overlays_box == true %}
                      <div class="ovelay-box">
                        <svg width="64px" height="64px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint0_radial_87_7153)"></rect>
                            <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint1_radial_87_7153)"></rect>
                            <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint2_radial_87_7153)"></rect>
                            <path
                              d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z"
                              fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z"
                              fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z"
                              fill="white"></path>
                            <defs>
                              <radialGradient id="paint0_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)">
                                <stop stop-color="#B13589"></stop>
                                <stop offset="0.79309" stop-color="#C62F94"></stop>
                                <stop offset="1" stop-color="#8A3AC8"></stop>
                              </radialGradient>
                              <radialGradient id="paint1_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)">
                                <stop stop-color="#E0E8B7"></stop>
                                <stop offset="0.444662" stop-color="#FB8A2E"></stop>
                                <stop offset="0.71474" stop-color="#E2425C"></stop>
                                <stop offset="1" stop-color="#E2425C" stop-opacity="0"></stop>
                              </radialGradient>
                              <radialGradient id="paint2_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)">
                                <stop offset="0.156701" stop-color="#406ADC"></stop>
                                <stop offset="0.467799" stop-color="#6A45BE"></stop>
                                <stop offset="1" stop-color="#6A45BE" stop-opacity="0"></stop>
                              </radialGradient>
                            </defs>
                          </g>
                        </svg>
                      </div>
                  {% endif %}
                  </a>  
                {% endif %}
                {% if block.settings.ttl != blank %}
                    <p>{{block.settings.ttl}}</p>
                {% endif %}
                {% if block.settings.subTtl != blank %}
                    <span>{{block.settings.subTtl}}</span>
                {% endif %}
            </div>
          </div>
        {% endfor %}     
    {% endif %}
  </div>
  <div class="swiper-button-next gmCstm swNxt{{section.id | remove: '-' |  remove: '_'  }}" {{section.blocks.length}}>
    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
      <circle cx="29.5" cy="29.5" r="29" fill="white" stroke="#DEDEDE"/>
      <path d="M34.5564 39.5639C34.6969 39.4244 34.8085 39.2585 34.8847 39.0758C34.9608 38.893 35 38.697 35 38.499C35 38.301 34.9608 38.1049 34.8847 37.9222C34.8085 37.7394 34.6969 37.5735 34.5564 37.4341L27.6871 30.5649C27.5466 30.4255 27.435 30.2596 27.3588 30.0768C27.2827 29.894 27.2435 29.698 27.2435 29.5C27.2435 29.302 27.2827 29.106 27.3588 28.9232C27.435 28.7404 27.5466 28.5745 27.6871 28.4351L34.5564 21.5659C34.6969 21.4265 34.8085 21.2606 34.8847 21.0778C34.9608 20.8951 35 20.699 35 20.501C35 20.303 34.9608 20.107 34.8847 19.9242C34.8085 19.7415 34.6969 19.5756 34.5564 19.4361C34.2753 19.1568 33.8952 19 33.499 19C33.1027 19 32.7226 19.1568 32.4416 19.4361L25.5574 26.3204C24.7148 27.164 24.2415 28.3076 24.2415 29.5C24.2415 30.6924 24.7148 31.836 25.5574 32.6796L32.4416 39.5639C32.7226 39.8432 33.1027 40 33.499 40C33.8952 40 34.2753 39.8432 34.5564 39.5639Z" fill="#363436"/>
    </svg>
  </div>
  <div class="swiper-button-prev gmCstm swPrv{{section.id | remove: '-' |  remove: '_'  }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
      <circle cx="29.5" cy="29.5" r="29" fill="white" stroke="#DEDEDE"/>
      <path d="M34.5564 39.5639C34.6969 39.4244 34.8085 39.2585 34.8847 39.0758C34.9608 38.893 35 38.697 35 38.499C35 38.301 34.9608 38.1049 34.8847 37.9222C34.8085 37.7394 34.6969 37.5735 34.5564 37.4341L27.6871 30.5649C27.5466 30.4255 27.435 30.2596 27.3588 30.0768C27.2827 29.894 27.2435 29.698 27.2435 29.5C27.2435 29.302 27.2827 29.106 27.3588 28.9232C27.435 28.7404 27.5466 28.5745 27.6871 28.4351L34.5564 21.5659C34.6969 21.4265 34.8085 21.2606 34.8847 21.0778C34.9608 20.8951 35 20.699 35 20.501C35 20.303 34.9608 20.107 34.8847 19.9242C34.8085 19.7415 34.6969 19.5756 34.5564 19.4361C34.2753 19.1568 33.8952 19 33.499 19C33.1027 19 32.7226 19.1568 32.4416 19.4361L25.5574 26.3204C24.7148 27.164 24.2415 28.3076 24.2415 29.5C24.2415 30.6924 24.7148 31.836 25.5574 32.6796L32.4416 39.5639C32.7226 39.8432 33.1027 40 33.499 40C33.8952 40 34.2753 39.8432 34.5564 39.5639Z" fill="#363436"/>
    </svg>
  </div>
  </div>
  <div class="swiper-pagination gmPag swPag{{section.id | remove: '-' |  remove: '_'  }}"></div>
</div>
</div>
<script>
     var swiper = new Swiper(".swp-{{section.id}}", {
      slidesPerView: {{section.settings.mblSld}},
      spaceBetween: {{section.settings.mblSpc}},
      loop:true,
      {% if section.settings.sldAtply != 0 %}
      autoplay: {
        delay: {{section.settings.sldAtply |  times: 1000}},
        disableOnInteraction: false,
      },
      {% endif %}
      pagination: {
        el: ".swPag{{section.id | remove: '-' |  remove: '_'  }}",
        clickable: true,
      },
      navigation: {
        nextEl: ".swNxt{{section.id | remove: '-' |  remove: '_'  }}",
        prevEl: ".swPrv{{section.id | remove: '-' |  remove: '_'  }}",
      },
      breakpoints: {
        640: {
          slidesPerView: {{section.settings.tabSld}},
          spaceBetween: {{section.settings.tabSpc}},
        },
        1024: {
          slidesPerView: {{section.settings.dskSld}},
          spaceBetween: {{section.settings.dskSpc}},
        },
      },
     });
</script>
<style>
    .gmSld-{{section.id}}{
        background-color: {{section.settings.bgCol}};
        padding-top:{{section.settings.secPdgTop}}px;
        padding-bottom:{{section.settings.secPdgBtm}}px;
    }

    @media only screen and (max-width: 767px) {
      .gmSld-{{section.id}} {
          padding-top: {{section.settings.secPdgTopMbl}}px;
          padding-bottom: {{section.settings.secPdgBtmMbl}}px;
      }
  }
  .video-heading{
      font-size: {{ section.settings.heading_font_size }}px;
    }
    .vdo-subtitel{
      font-size: {{ section.settings.subtitle_font_size }}px;
    }
    @media screen and (max-width:767px){
      .video-heading{
        font-size: {{ section.settings.heading_font_sizemob }}px;
      }
      .vdo-subtitel{
        font-size: {{ section.settings.subtitle_font_sizemob }}px;
      }
    }
</style>


{% schema %}
  {
    "name": "GM Slider",
    "class": "gmSld",
    "blocks": [
      {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "imgPkr",
            "label": "Upload Image"
          },
          {
            "type": "url",
            "id": "img_url",
            "label": "Image Upload URl"
          },
        {
            "type": "text",
            "id": "ttl",
            "label": "Enter Slide Title"
          },
        {
            "type": "textarea",
            "id": "subTtl",
            "label": "Enter Slide Description"
        }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "preTtl",
        "label": "Enter Sub-Title"
      },
      {
        "type": "range",
        "id": "subtitle_font_size",
        "label": "Desktop Subtitle Font Size",
        "default": 16,
        "min": 12,
        "max": 48,
        "step": 1
      },
      {
        "type": "range",
        "id": "subtitle_font_sizemob",
        "label": "Mobile Subtitle Font Size",
        "default": 16,
        "min": 12,
        "max": 48,
        "step": 1
      },
      {
        "type": "text",
        "id": "ttl",
        "label": "Enter Title"
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "label": "Desktop Heading Font Size",
        "default": 24,
        "min": 16,
        "max": 72,
        "step": 1
      },
      {
        "type": "range",
        "id": "heading_font_sizemob",
        "label": "Mobile Heading Font Size",
        "default": 24,
        "min": 16,
        "max": 72,
        "step": 1
      },
      {
        "type": "textarea",
        "id": "subTtl",
        "label": "Enter Title"
    },
      {
        "type": "text",
        "id": "btnTxt",
        "label": "Enter Button Text",
        "info": "Leave Blank to Hide Button"
      }, {
        "type": "url",
        "id": "btnUrl",
        "label": "Select Button URL"
      },
      {
        "type": "checkbox",
        "id": "chkBx",
        "label": "Check to Fetch Data From Metafield",
        "default":false
      },
      {
        "type": "checkbox",
        "id": "overlays_box",
        "label": "Overlay Show",
        "info": "Overlay Icons Display To Check Box Fill",
        "default":false
      },
      {
        "type": "range",
        "id": "dskSld",
        "label": "Slides to show on Desktop Screen",
        "min": 4,
        "max": 8,
        "step": 0.2,
        "default": 4.8
      }, {
        "type": "range",
        "id": "dskSpc",
        "label": "Space Between two Slides on Desktop Screen",
        "min": 2,
        "max": 50,
        "step": 2,
        "default": 20
      }, {
        "type": "range",
        "id": "tabSld",
        "label": "Slides to show on Small Screen",
        "min": 3,
        "max": 7,
        "step": 0.2,
        "default": 4.8
      }, {
        "type": "range",
        "id": "tabSpc",
        "label": "Space Between two Slides on Small Screen",
        "min": 2,
        "max": 50,
        "step": 2,
        "default": 20
      }, {
        "type": "range",
        "id": "mblSld",
        "label": "Slides to show on Mobile Screen",
        "min": 1,
        "max": 3,
        "step": 0.2,
        "default": 1.8
      }, {
        "type": "range",
        "id": "mblSpc",
        "label": "Space Between two Slides on Mobile Screen",
        "min": 2,
        "max": 50,
        "step": 2,
        "default": 20
      }, {
        "type": "range",
        "id": "sldAtply",
        "label": "Autoplay Speed",
        "info": "Select 0 to turn off Autoplay",
        "min": 0,
        "max": 5,
        "step": 0.1,
        "default": 1.5
      },{
        "type": "checkbox",
        "id": "pagination",
        "label": "Check to show Pagination on Mobile",
        "default":true
      },
      {
        "type": "checkbox",
        "id": "navigation",
        "label": "Check to show Navigation on Desktop",
        "default":true
      },
      {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-3"
    },
      {
        "type": "color",
        "id": "sldCol",
        "label": "Select Background Color of Slide",
        "default":"#ffffff"
      },
      {
        "type": "range",
        "id": "secPdgTop",
        "label": "Padding Top",
        "min": 10,
        "max": 100,
        "step": 5,
        "default": 20
      }, {
        "type": "range",
        "id": "secPdgBtm",
        "label": "Padding bottom",
        "min": 10,
        "max": 100,
        "step": 5,
        "default": 20
      },
      {
        "type": "range",
        "id": "secPdgTopMbl",
        "label": "Padding Top (Mobile)",
        "min": 5,
        "max": 100,
        "step": 5,
        "default": 20
    },
    {
        "type": "range",
        "id": "secPdgBtmMbl",
        "label": "Padding Bottom (Mobile)",
        "min": 5,
        "max": 100,
        "step": 5,
        "default": 20
    },
    ],
    "presets": [
      {
        "name": "GM Slider"
      }
    ]
  }
{% endschema %}