<!-- Section Liquid -->
<section class="custom-collection-section collection-section-{{section.id}} color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width">
    <!-- Tabbing -->
    <span class="subtitel" style="text-align: {{ section.settings.heading_alignment }};">
      {{- section.settings.heading -}}
    </span>
    <div class="collection-tabs">
      <ul>
        {% for block in section.blocks %}
          <li>
            <a
              href="#tab-{{ block.id }}"
              class="{% if forloop.first %}active{% endif %} tabbing-text"
              data-tab="{{ block.id }}"
            >
              {{ block.settings.tab_title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Products for each tab -->
    <div class="collection-contents">
      {% for block in section.blocks %}
        <div class="tab-content {% if forloop.first %}active{% endif %}" id="tab-{{ block.id }}">
          <div class="collection-items">
            {% if block.settings.product1_image %}
              <div class="collection-item">
                <a href="{{ block.settings.product1_link }}">
                  <img
                    src="{{ block.settings.product1_image | img_url: 'medium' }}"
                    alt="{{ block.settings.product1_title }}"
                  >
                  <h3 class="text-color">
                    {{ block.settings.product1_title }}
                  </h3>
                  <p class="text-color">
                    {{ block.settings.product1_subtitle }}
                  </p>
                </a>
              </div>
            {% endif %}

            {% if block.settings.product2_image %}
              <div class="collection-item">
                <a href="{{ block.settings.product2_link }}">
                  <img
                    src="{{ block.settings.product2_image | img_url: 'medium' }}"
                    alt="{{ block.settings.product2_title }}"
                  >
                  <h3 class="text-color">
                    {{ block.settings.product2_title }}
                  </h3>
                  <p class="text-color">
                    {{ block.settings.product2_subtitle }}
                  </p>
                </a>
              </div>
            {% endif %}

            {% if block.settings.product3_image %}
              <div class="collection-item">
                <a href="{{ block.settings.product3_link }}">
                  <img
                    src="{{ block.settings.product3_image | img_url: 'medium' }}"
                    alt="{{ block.settings.product3_title }}"
                  >
                  <h3 class="text-color">
                    {{ block.settings.product3_title }}
                  </h3>
                  <p class="text-color">
                    {{ block.settings.product3_subtitle }}
                  </p>
                </a>
              </div>
            {% endif %}

            {% if block.settings.product4_image %}
              <div class="collection-item">
                <a href="{{ block.settings.product4_link }}">
                  <img
                    src="{{ block.settings.product4_image | img_url: '600x' }}"
                    alt="{{ block.settings.product4_title }}"
                  >
                  <h3 class="text-color">
                    {{ block.settings.product4_title }}
                  </h3>
                  <p class="text-color">
                    {{ block.settings.product4_subtitle }}
                  </p>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
    .text-color,.tabbing-text{
        color: {{ section.settings.content_text }};
    }
    .collection-section-{{section.id}}{
          background-color: {{section.settings.bgCol}};
          padding-top:{{section.settings.secPdgTop}}px;
          padding-bottom:{{section.settings.secPdgBtm}}px;
      }
      .subtitel {
        font-size: {{ section.settings.subtitle_font_size }}px;
        font-weight: 500;
        width: 100%;
        display: inline-block;
      }
      .tabbing-text{
          font-size: {{section.settings.text_font_size}}px;
      }
      @media screen and (max-width: 767px){
          .collection-section-{{section.id}} {
              padding-top: {{section.settings.mblPdgTop}}px;
              padding-bottom: {{section.settings.mblPdgBtm}}px;
          }
          .subtitel {
              font-size: {{ section.settings.subtitle_font_sizes }}px;
          }
          .tabbing-text{
              font-size: {{section.settings.text_font_sizes}}px;
          }
      }
    .custom-collection-section {
      text-align: center;
    }

    /* Tabbing style */
    .collection-tabs ul {
      list-style: none;
      padding: 0;
      margin: 17px 0 41px;
    }

    .collection-tabs ul li {
      display: inline-block;
      margin: 0 15px;
    }

    .collection-tabs ul li a {
      text-decoration: none;
      font-weight: 500;
    }

    .collection-tabs ul li a.active {
      color: #bf0436;
      border-bottom: 1px solid #BF0436;
    }

    /* Collection items */
    .collection-items {
      display: flex;
      gap: 42px;
    }

    .collection-item {
      text-align: center;
      width: 25%;
    }

    .collection-item img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      vertical-align: top;
    }
    .collection-item a {
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: inline-block;
  }

    .collection-item h3 {
      font-size: 16px;
      margin: 0;
    }
    .collection-item p {
      font-size: 24px;
      margin: 19px 0 0;
      font-weight: 500;
      line-height: 1;
  }
    /* Tab content style */
    .tab-content {
      display: none;
    }
    .tab-content.active {
      display: block;
    }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabs = document.querySelectorAll('.collection-tabs a');
    const contents = document.querySelectorAll('.tab-content');

    tabs.forEach(function (tab) {
      tab.addEventListener('click', function (e) {
        e.preventDefault();

        tabs.forEach(function (t) {
          t.classList.remove('active');
        });

        tab.classList.add('active');

        contents.forEach(function (content) {
          content.classList.remove('active');
        });

        const target = document.querySelector('#tab-' + tab.getAttribute('data-tab'));
        target.classList.add('active');
      });
    });
  });
</script>

<!-- Schema -->
{% schema %}
{
  "name": "Our Collection Tabs",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Our Collection"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "subtitle_font_size",
      "label": "Desktop Subtitle Font Size",
      "default": 16,
      "min": 12,
      "max": 48,
      "step": 1
    },
    {
      "type": "range",
      "id": "subtitle_font_sizes",
      "label": "Mobile Subtitle Font Size",
      "default": 16,
      "min": 12,
      "max": 48,
      "step": 1
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "color",
      "id": "content_text",
      "label": "Color scheme content",
      "default": "#0D0D0D"
    },
    {
      "type": "range",
      "id": "text_font_size",
      "label": "Desktop Tabbing Heading Font Size",
      "default": 16,
      "min": 12,
      "max": 48,
      "step": 1
    },
    {
      "type": "range",
      "id": "text_font_sizes",
      "label": "Mobile Tabbing Heading Font Size",
      "default": 16,
      "min": 12,
      "max": 48,
      "step": 1
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "secPdgTop",
      "label": "Padding Top",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "secPdgBtm",
      "label": "Padding bottom",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "mblPdgTop",
      "label": "Mobile Padding Top",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "mblPdgBtm",
      "label": "Mobile Padding Bottom",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Face"
        },
        {
          "type": "image_picker",
          "id": "product1_image",
          "label": "Product 1 Image"
        },
        {
          "type": "text",
          "id": "product1_title",
          "label": "Product 1 Title",
          "default": "Product 1"
        },
        {
          "type": "text",
          "id": "product1_subtitle",
          "label": "Product 1 Subtitle"
        },
        {
          "type": "url",
          "id": "product1_link",
          "label": "Product 1 Link"
        },
        {
          "type": "image_picker",
          "id": "product2_image",
          "label": "Product 2 Image"
        },
        {
          "type": "text",
          "id": "product2_title",
          "label": "Product 2 Title"
        },
        {
          "type": "text",
          "id": "product2_subtitle",
          "label": "Product 2 Subtitle"
        },
        {
          "type": "url",
          "id": "product2_link",
          "label": "Product 2 Link"
        },
        {
          "type": "image_picker",
          "id": "product3_image",
          "label": "Product 3 Image"
        },
        {
          "type": "text",
          "id": "product3_title",
          "label": "Product 3 Title"
        },
        {
          "type": "text",
          "id": "product3_subtitle",
          "label": "Product 3 Subtitle"
        },
        {
          "type": "url",
          "id": "product3_link",
          "label": "Product 3 Link"
        },
        {
          "type": "image_picker",
          "id": "product4_image",
          "label": "Product 4 Image"
        },
        {
          "type": "text",
          "id": "product4_title",
          "label": "Product 4 Title"
        },
        {
          "type": "text",
          "id": "product4_subtitle",
          "label": "Product 4 Subtitle"
        },
        {
          "type": "url",
          "id": "product4_link",
          "label": "Product 4 Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Collection Tabs",
      "category": "Collection"
    }
  ]
}
{% endschema %}
