{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{{ 'lumin-tab.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<style>
  ul.lumin-tab-{{ section.id }} {
             justify-content: {{ section.settings.tab_font_align }};
    {% if section.settings.show_border %} border-bottom: .1rem solid rgba(var(--color-foreground), .08);{% endif %}
        }

  .lumin-tab-{{ section.id }} h4 {
    font-size: {{section.settings.tab_font}}px;
  }

  .lumin-tab-content-{{ section.id }} {
              text-align: {{ section.settings.tab_content_align }};
        }

@media only screen and (max-width: 576px){
   .lumin-tab-{{ section.id }} h4 {
    font-size: {{section.settings.tab_font_mb}}px;
  }
   ul.lumin-tab-{{ section.id }} {
  justify-content: {{ section.settings.tab_font_mb_align }};
  }
 .lumin-tab-content-{{ section.id }} {
   text-align: {{ section.settings.tab_content_align_mb }};
    }
  }
</style>

<div class="custom--tabs section-{{ section.id }}-padding gradient color-{{ section.settings.tabs_color_scheme }}">
  <ul class="custom--tabs page-width lumin-tab-{{ section.id }}">
    {% for block in section.blocks %}
      {% assign collection = collections[block.settings.collection] %}
      {% if block.type == 'tab' %}
        <li class="tab__list {% if forloop.first %}active{% endif %}" {{ block.shopify_attributes }}>
          <h4
            class="custom-tab custom-tab{{block.id}} {% if forloop.first %}active{% endif %}"
            data-content-id="content--{{ block.id }}--{{ section.id }}"
          >
            {% if block.settings.heading == blank -%}
              {{- collection.title -}}
            {%- else -%}
              {{- block.settings.heading -}}
            {%- endif %}
          </h4>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% for block in section.blocks %}
    {% if block.type == 'tab' %}
      {%- liquid
        assign products_to_display = block.settings.collection.all_products_count

        if block.settings.collection.all_products_count > section.settings.products_to_show
          assign products_to_display = section.settings.products_to_show
          assign more_in_collection = true
        endif
      -%}
      <div
        id="content--{{ block.id }}--{{ section.id }}"
        class="custom__tab-content page-width {% if forloop.first %}active{% endif %}" {{ block.shopify_attributes }}
      >
          {%- if block.settings.description != blank
        or block.settings.show_description
        and block.settings.collection.description != empty
      -%}
        <div class="collection__description {{ block.settings.collection_text_alignment }} {{ block.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
             style="padding-bottom: 2rem;padding-top: 1rem;">
          {%- if block.settings.show_description -%}
            {{ block.settings.collection.description }}
          {%- else -%}
            {{ block.settings.description -}}
          {%- endif %}
        </div>
      {%- endif -%}
        <ul
          id="Slider-{{ section.id }}"
          class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if block.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}"
          role="list"
          aria-label="{{ 'general.slider.name' | t }}"
        >
          {%- for i in (1..15) -%}
            {% comment %} url_1 ttl_1 img_pkr_1 {% endcomment %}
            {% assign url_id = 'url_' |  append: forloop.index %}
            {% assign ttl_id = 'ttl_' |  append: forloop.index %}
            {% assign img_pkr_id = 'img_pkr_' |  append: forloop.index %}
            {% if block.settings[url_id] != blank and block.settings[img_pkr_id] and block.settings[ttl_id] %}
              <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <a href="{{ block.settings[url_id] }}" class="sldWrap">
                  <img src="{{ block.settings[img_pkr_id] |  image_url: width: 500 }}" alt="{{ block.settings[img_pkr_id].alt }}" width="" height="">
                  <p class="sld_wrap">{{ block.settings[ttl_id] }}</p>
                </a>
              </li>            
            {% endif %}
          {%- endfor -%}
        </ul>
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="center collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <a
              href="{{ block.settings.collection.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: block.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    {% endif %}
  {% endfor %}
</div>

{% javascript %}
  tabs= document.querySelectorAll('.custom-tab');
  tabContents= document.querySelectorAll('.custom__tab-content');

  tabs.forEach(function(tab){
      tab.addEventListener('click',function(){

          contentId = this.dataset.contentId;
          content = document.getElementById(contentId);

          tabContents.forEach(function(content){
              content.classList.remove('active');
          });

          tabs.forEach(function(tab){
              tab.classList.remove('active');
          });

          this.classList.add('active');
          content.classList.add('active');
      });
  });
{% endjavascript %}

{% schema %}
{
  "name": "GM Tabs Group",
  "disabled_on": {
  "groups": ["header", "custom.popup", "footer"]
  },
  "settings": [
      {
        "type": "color_scheme",
        "id": "tabs_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      },
     {
      "type": "range",
      "id": "tab_font",
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Tabs heading font desktop",
      "default": 16
    },
     {
        "type": "text_alignment",
        "id": "tab_font_align",
        "label": "Heading alignment",
        "default": "center"
     },
    {
      "type": "range",
      "id": "tab_font_mb",
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Tabs heading font mobile",
      "default": 14
    },
    {
        "type": "text_alignment",
        "id": "tab_font_mb_align",
        "label": "Heading alignment mobile",
        "default": "center"
     },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show bottom border",
      "default": false
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_desc",
      "default": false,
      "label": "Show description"
    },
     {
        "type": "range",
        "id": "quick_desc_legth",
        "min": 30,
        "max": 300,
        "step": 10,
        "unit": "n",
        "label": "Description Characters Count",
        "default": 90
      },
     {
        "type": "range",
        "id": "quick_desc_size",
        "min": 8,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Description size",
        "default": 14
      },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_add",
      "default": false,
      "label": "Show Outline Button"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
  {
    "type": "tab",
    "name": "Tab",
    "limit": 5,
    "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading",
          "info": "Include a heading that explains the tab. Leave blank to show original collection title"
        },
        {
            "type": "header",
            "content":"Slide 1"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_1",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_1",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_1",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 2"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_2",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_2",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_2",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 3"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_3",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_3",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_3",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 4"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_4",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_4",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_4",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 5"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_5",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_5",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_5",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 6"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_6",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_6",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_6",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 7"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_7",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_7",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_7",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 8"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_8",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_8",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_8",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 9"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_9",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_9",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_9",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 10"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_10",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_10",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_10",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 11"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_11",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_11",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_11",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 12"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_12",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_12",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_12",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 13"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_13",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_13",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_13",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 14"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_14",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_14",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_14",
            "label": "Select Slide URL"
          },
          {
            "type": "header",
            "content":"Slide 15"
          },
          {
            "type": "image_picker",
            "id": "img_pkr_15",
            "label": "Select Image",
            "info": "Leave Black to Hide Slide"
          },
          {
            "type": "text",
            "id": "ttl_15",
            "label": "Enter Title",
            "info": "Enter Some Title"
          },
          {
            "type": "url",
            "id": "url_15",
            "label": "Select Slide URL"
          }
        ]
      } 
    ],
   "presets": [
    {
      "name": "GM Tabs Group",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}
